@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --primary-color: #EDEBF0;
  --secondary-color: #101317;
  --call-to-action-light: #79FFE2;
  --call-to-action-dark: #128e82;
  --font-family-serif: 'IBM Plex Serif', serif;
  --font-family-sans-serif: 'Poppins', sans-serif;
}

body {
  background-color: var(--primary-color);
  background-image: radial-gradient(rgba(200, 200, 200, 0.5) 1px, transparent 0);
  background-size: 15px 15px;
  background-position: -15px -15px;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-serif);
}

#logo-resize {
  width: 120px;
  height: 50px;
  object-fit: cover;
  margin-right: auto !important;
}

.navbar-nav {
  margin-left: auto !important;
}

.navbar {
  background-color: var(--secondary-color);
}

.navbar a {
  color: var(--call-to-action-light);
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar-toggler {
  background-color: var(--call-to-action-light) !important;
}

.features-heading {
  background: linear-gradient(
        to right,
        #128e82 20%,
        #79FFE2 30%,
        #79FFE2 70%,
        #128e82 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-fill-color: transparent; */
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Feature header background color */
.features-bg {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 42px 0 38px 0;
  border-radius: 0 0 50px 0;
  text-align: center;
}

/* Feature title */
.features-heading {
  text-transform: uppercase;
}

.indexing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.indexing li {
  list-style: none;
}

.indexing li a {
  text-decoration: none;
  color: var(--call-to-action-light);
}

.indexing li a:hover {
  color: var(--call-to-action-dark);
}

/* Services card are wrapped in */
.card-wrapper {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  place-items: center;
  align-items: start;
  gap: 30px;
  margin: 50px 0 50px 0;
}

/* Services cards */
.card {
  /* Transition */
  -webkit-transition: box-shadow 0.5s ease-out;
  -moz-transition: box-shadow 0.5s ease-out;
  -o-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
}

.card:hover {
  -webkit-box-shadow: 0 0 10px var(--secondary-color);
  box-shadow: 0 0 20px var(--secondary-color);
}

.card img {
  height: 200px;
  object-fit: cover;
  border-radius: 5.5px 5.5px 0 0;
  overflow: hidden;
  filter: brightness(80%);
  /* Transition */
  -webkit-transition: filter 0.5s ease-out;
  -moz-transition: filter 0.5s ease-out;
  -o-transition: filter 0.5s ease-out;
  transition: filter 0.5s ease-out;
}

.card:hover img {
  filter: brightness(100%);
}

/* Style the description of the services */
.card .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 5px 0px;
}

.card .card-body a {
  /* Transition */
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.card .card-body a {
  color: var(--call-to-action-dark);
}

.card .card-body a:hover {
  color: var(--call-to-action-light)
}

/* Voice Services Styling Start */
.about-vs {
  margin: 50px 0 25px 0;
  text-align: center;
}

.features-subheading {
  margin: 24px 0 4px 0;
  text-align: center;
  text-transform: uppercase;
}

.feature-desc {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  align-items: start;
  gap: 30px;
  margin: 24px 0 50px 0;
}

.box-wrap {
  display: flex;
  background-color: var(--call-to-action-light);
  border-radius: 50px;
  padding: 18px;
  border: 3px solid var(--call-to-action-dark);
}

.box-wrap:hover {
  border: 3px dashed var(--call-to-action-dark)
}

.box-wrap .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  padding: 42px;
}

.box-wrap .details h4 {
  margin: 0 0 12px 0;
}

.box-wrap img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 45px;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.border-boxing {
  border: 3px dashed #101317;
  border-radius: 30px;
  padding: 30px;
  /* Transition */
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.border-boxing:hover {
  background-color: #ffffff;
}

.border-boxing h4 {
  margin: 0 0 12px 0;
}

.center-heading {
  text-align: center;
}

#hr {
  display: flex;
  justify-content: center;
  margin: 5px auto;
  width: 25%;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #79ffe2, #128e82, #101317, #128e82, #79ffe2) 1;
}

.hide-list-style {
  list-style: none;
}

.wrap-para {
  width: 60%;
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.contact-footer {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.contact-footer img {
  width: 50%;
  object-fit: cover;
}

.contact-footer div {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.contact-footer div h3 {
  margin: 0 0 24px 0;
}

.contact-footer div a {
  background-color: var(--call-to-action-dark);
  color: var(--primary-color);
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin: 10px 0 16px 0;
  /* Transition */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact-footer div a:hover {
  border-radius: 20px;
  background-color: var(--call-to-action-light);
  color: var(--secondary-color);
}
/* Voice Services Styling End */

/* Careers Styling Start */
.btn {
  background-color: var(--call-to-action-light) !important;
  color: var(--secondary-color) !important;
  border: none !important;
}

.btn:hover {
  background-color: var(--call-to-action-dark) !important;
  color: var(--primary-color) !important;
}
/* Careers Styling End */

/* Footer Style Start */
footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 50px 50px 20px 50px;
  border-radius: 50px 50px 0 0;
}

footer h3 {
  margin: 0 0 20px 0;
}

.footer-major {
  display: flex;
  justify-content: start;
}

.footer-major div {
  width: 50%;
}

.footer-major .footer-tabs {
  display: flex;
  justify-content: center;
}

.footer-major #social-icons {
  display: flex;
  gap: 10px;
}

.footer-major ul li, .footer-major .footer-tabs ul li {
  list-style-type: none;
}

.anchor {
  color: var(--call-to-action-light);
  text-decoration: none;
}

.anchor:hover {
  text-decoration: underline;
  color: var(--call-to-action-light);
}

footer #footer-minor {
  text-align: center;
}
/* Footer Style End */

/* Style for the "Move to Top" button */
#moveToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--call-to-action-dark);
  color: var(--primary-color);
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  /* Transition */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#moveToTopBtn:hover {
  background-color: var(--call-to-action-light);
  color: var(--secondary-color);
  border-radius: 50%;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

/* Landscape phones and portrait tablets */
@media (width <= 768px) {

  .card-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .box-wrap {
    flex-direction: column-reverse;
    gap: 0px;
  }

  .box-wrap img {
    width: 100%;
  }

  .box-wrap .details {
    width: fit-content;
    padding: 36px;
  }

  .border-boxing {
    background-color: #ffffff;
  }

  .contact-footer {
    flex-direction: column;
  }

  .contact-footer img {
    width: 100%;
  }

  .contact-footer div {
    padding: 16px;
  }

  footer {
    padding: 50px 30px 20px 30px;
  }

  .footer-major {
    flex-direction: column;
  }

  .footer-major div {
    width: 100%;
  }
}

/* Portrait phones and smaller */
@media (width <= 480px) {
  .card-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .box-wrap .details {
    padding: 16px;
  }

  .wrap-para {
    width: 100%;
  }

  .hide-list-style {
    list-style: disc;
    text-align: start;
  }

  .features-bg p {
    padding: 0 5px;
  }

  .footer-tabs {
    flex-direction: column;
    text-align: center;
  }
}

/* Animation */
@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

/* Home style Start */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black overlay */
}

.text-box {
    z-index: 1;
    text-align: center;
    color: #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* Transparent black box */
    border-radius: 10px;
}

.text h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .text h1 {
        font-size: 1.5em;
    }
}
.features {
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.card {
    flex: 1;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    font-size: 1.5em;
}

.card p {
    margin-bottom: 20px;
}

.card button {
    padding: 10px 20px;
    background-color: #5d5e5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #646565;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 20px;
    }
}
/* Banner Styles */
.banner {
    position: relative;
    height: 100vh; /* Set height to viewport height */
    background-image: url('assets/images/about.jpg'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #101010; /* Text color */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  }
  
  .tex-box {
    position: relative;
    z-index: 1;
    color: #101010;
    background-color: #ddd;
  }
  
  .text-box h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .text-box p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .text-box {
      padding: 0 20px; /* Adjust padding for smaller screens */
    }
  
    .text-box h1 {
      font-size: 24px; /* Decrease font size for smaller screens */
    }
  
    .text-box p {
      font-size: 16px; /* Decrease font size for smaller screens */
    }
  }
/* Our Clients Styles End */
#our-clients {
  background-color: white;
  padding: 120px 0;
}

.clients-heading {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.client-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* .client-logos a {
  display: block;
  width: 200px;
  margin: 70px;
} */

.client-logos img {
  object-fit: contain;
  width: 250px;
  height: 200px;
}
/* Our Clients Styling End */

/* Testimonials Section Styles */
/* .testimonial-section {
  padding: 120px ;
  text-align: center;
}

.slider {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slide {
  display: flex;
  text-align: center;
}

.slide img {
  width: 20%;
  height: 10%;
  border-radius: 20%;
  margin-bottom: 20px;
}

.slide p {
  margin-bottom: 50px;
}

.slide cite {
  font-style: normal;
  font-weight: bold;
}

/* Responsive styles */
/* @media only screen and (max-width: 768px) {
    .slider {
        width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    .slider {
        width: 95%;
    }
    
    .slide p {
        font-size: 16px;
    }
} */

.carousel-inner img {
  height: 100vh;
  object-fit: fill;
}

/* Testimonial Style End */

/* Landscape phones and portrait tablets */
@media (width <= 768px) {
    .card-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  
    .wrapper {
      grid-template-columns: 1fr 1fr;
    }
  
    .box-wrap {
      flex-direction: column-reverse;
      gap: 0px;
    }
  
    .box-wrap img {
      width: 100%;
    }
  
    .box-wrap .details {
      width: fit-content;
      padding: 36px;
    }
  
    .border-boxing {
      background-color: #ffffff;
    }
  
    .contact-footer {
      flex-direction: column;
    }
  
    .contact-footer img {
      width: 100%;
    }
  
    .contact-footer div {
      padding: 16px;
    }
  
    footer {
      padding: 50px 30px 20px 30px;
    }
  
    .footer-major {
      flex-direction: column;
    }
  
    .footer-major div {
      width: 100%;
    }
  }
  
  /* Portrait phones and smaller */
  @media (width <= 480px) {
    .card-wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  
    .wrapper {
      grid-template-columns: 1fr;
    }
  
    .box-wrap .details {
      padding: 16px;
    }
  
    .wrap-para {
      width: 100%;
    }
  
    .hide-list-style {
      list-style: disc;
      text-align: start;
    }
  
    .features-bg p {
      padding: 0 5px;
    }
  
    .footer-tabs {
      flex-direction: column;
      text-align: center;
  }
  }
    
#our-team {
    padding: 80px 0;
    background-color: #f9f9f9;
  }
  
  .section-heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .team-member {
    text-align: center;
    margin: 0 20px 30px;
    flex: 1 1 300px; /* Adjust as needed */
  }
  
  .team-member img {
    border-radius: 50%;
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    margin-bottom: 20px;
  }
  
  .team-member h3 {
    margin-bottom: 10px;
  }
  
  .team-member p {
    color: #777;
  }
/* Grid layout */

  /* Home style */